<mat-card class="profile-card">
    <mat-card-header>
        <mat-card-title>Assistant MNH.1.0</mat-card-title>
        <mat-card-subtitle>Send your request</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="messages" #messagesContainer>
            <div *ngFor="let rr of requestsAndResponses">
              <p [ngClass]="{'user-prompt': rr.isUserPrompt, 'assistant-response': !rr.isUserPrompt}">
                <strong>{{ rr.isUserPrompt ? user?.name : 'Assistant' }}:</strong> {{ rr.prompt }}
              </p>
              <p [ngClass]="{'assistant-response': rr.isUserPrompt, 'user-prompt': !rr.isUserPrompt}">
                <strong>{{ rr.isUserPrompt ? 'Assistant' : user?.name }}:</strong>
                 <ng-container *ngIf="getMessageResponse(rr.response)">
                  <p>{{ getMessageResponse(rr.response)?.answerText }}</p>
                </ng-container>
                <ng-container *ngIf="getEmailResponse(rr.response)">
                  <p><strong>Verify mail to send</strong></p>
                  <p><strong>To:</strong> {{ getEmailResponse(rr.response)?.answerRelatedToGmail!.to }}</p>
                  <p><strong>Subject:</strong> {{ getEmailResponse(rr.response)?.answerRelatedToGmail!.subject }}</p>
                  <p><strong>Message:</strong> {{ getEmailResponse(rr.response)?.answerRelatedToGmail!.message }}</p>
                  <button mat-raised-button color="primary"
                     (click)="confirmEmail(rr.response)">
                    Confirm Sending
                  </button>
                </ng-container>
              </p>
            </div>
        </div>
        <mat-icon matListIcon (click)="scrollToBottom()" color="primary" class="down-btn">
            arrow_drop_down_circle
        </mat-icon>
        <div class="chat-content">
            <mat-form-field class="chat-input">
                <textarea matInput placeholder="Type a message" [(ngModel)]="prompt"></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" 
            (click)="sendRequest()" class="send-btn">Send</button>
         </div>
    </mat-card-content>  
</mat-card>
  
  