<!-- <h1>Login</h1>
<div class="login-button">
    <button
        id="google-login-button"
        class="login-button btn btn-primary"
        (click)="signInWithGoogle()"
        >
        Login
    </button>
</div> -->

<div class="login-container">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-raised-button color="primary" (click)="signInWithGoogle()">Login with Google</button>
      </mat-card-content>
    </mat-card>
  </div>
  